<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>任务详情</title>
</head>

<body>
    <h1>任务详情</h1>
    <p>任务ID: {{ task.taskId }}</p>
    <p>任务名称: {{ task.taskTitle }}</p>
    <!-- 其他任务详情字段 -->
    <!-- 接受任务按钮 -->
    
    <button type="button" class="btn btn-success" onclick="window.location.href='/OrderManage/search_results/'">搜索</button>
    <!-- 返回按钮 -->
    <a href="{% url 'search_tasks' %}" class="btn btn-secondary">返回</a>
</body>

</html>