{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>任务筛选</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>

    <div class="container">
        <h2 class="text-center">任务筛选</h2>
        <form action="" method="GET" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="" class="col-sm-1 control-label text-center col-sm-offset-1">任务类型</label>
                <div class="col-sm-5 col-sm-offset-1">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="text" value="TEXT" name="taskType">文本标注
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="image" value="IMAGE" name="taskType">图片标注
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="vedio" value="VEDIO" name="taskType">音频标注
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-1 control-label text-center col-sm-offset-1">标注者等级要求</label>
                <div class="col-sm-5 col-sm-offset-1">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="1" name="taskRank"> 1
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" value="2" name="taskRank"> 2
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox3" value="3" name="taskRank"> 3
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox4" value="4" name="taskRank"> 4
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox5" value="5" name="taskRank"> 5
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="taskID" class="col-sm-1 control-label">任务ID</label>
                <div class="col-sm-3 col-sm-offset-1">
                    <input type="text" placeholder="请输入任务ID" id='taskID' name="taskID" class="form-control"
                        autocomplete="off">
                </div>
                <label for="taskTitle" class="col-sm-1 control-label">任务名称</label>
                <div class="col-sm-3 col-sm-offset-1">
                    <input type="text" placeholder="请输入任务名称（支持模糊匹配）" id='taskTitle' name="taskTitle"
                        class="form-control" autocomplete="off">
                </div>
                <label for="minPerTaskPaid" class="col-sm-1 control-label">最小单位任务报酬</label>
                <div class="col-sm-1">
                    <input type="text" placeholder="最小值" id='minPerTaskPaid' name="minPerTaskPaid" class="form-control"
                        autocomplete="off">
                </div>
                <label for="maxPerTaskPaid" class="col-sm-1 control-label">最大单位任务报酬</label>
                <div class="col-sm-1">
                    <input type="text" placeholder="最大值" id='maxPerTaskPaid' name="maxPerTaskPaid" class="form-control"
                        autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3 col-sm-offset-2">
                    <button type="button" class="btn btn-success" onclick="window.location.href='/task/search_results/'">搜索</button>
                </div>
            </div>
        </form>
    
    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
